<!DOCTYPE html>

<html>
	<head>
		<title> Pradeep R </title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="_js/handlebars.js"></script>
		<link rel="stylesheet" type="text/css" href="_css/_base.css">
		<link rel="stylesheet" type="text/css" href="_css/_slidingMenu.css">
		<link rel="stylesheet" type="text/css" href="_css/_infoBox.css">

	</head>
	<body>

		<div id="container">
			<div id="header">
				<div id="userInfo">
					<div id="userName">Pradeep Ramaswamy</div>
					<div id="userDetails">
						<div id="userEmail">praad.kumar@gmail.com</div>
						<div id="userPhone">510-371-2726</div>
					</div>					
				</div>
				<div id="techContainer">
				<div id="workExperienceSectionTechBar" class="techBar"></div>
				<div id="personalProjectSectionTechBar" class="techBar" style="display: none"></div>
				<div id="schoolProjectSectionTechBar" class="techBar" style="display: none"></div>
				<div id="educationSectionTechBar" class="techBar" style="display: none"></div>
				<div id="othersSectionTechBar" class="techBar" style="display: none"></div>
				</div>
				<div id="menuBar">
					<ul id="menu">
						<li id="workExperience" class="current">
							<a href="#">Work Experience</a>
						</li>
						<li id="personalProject">
							<a href="#">Personal Projects</a>
						</li>
						<li id="schoolProject">
							<a href="#">School Projects</a>
						</li>
						<li id="education">
							<a href="#">Education</a>
						</li>
						<li id="others">
							<a href="#">Other</a>
						</li>
						<li id="aboutMe">
							<a href="#">About Me</a>
						</li>
					</ul>
				</div>
				<div id="calendarContainer">
				<div id="workExperienceSectionCalendarBar" class="calendarBar"></div>
				<div id="personalProjectSectionCalendarBar" class="calendarBar" style="display: none"></div>
				<div id="schoolProjectSectionCalendarBar" class="calendarBar" style="display: none"></div>
				<div id="educationSectionCalendarBar" class="calendarBar" style="display: none"></div>
				<div id="othersSectionCalendarBar" class="calendarBar" style="display: none"></div>
				</div>
				
			</div>
			<div id="content">
				<div id="workExperienceSection"></div>
				<div id="personalProjectSection"></div>
				<div id="schoolProjectSection"></div>
				<div id="educationSection"></div>
				<div id="othersSection"></div>
			</div>
			<div id="footer"></div>

		</div>

		<script src="_js/_slidingMenu.js"></script>
		<script src="_js/blob.js"></script>
		<script src="_js/_calendarBar.js"></script>
		<script src="_js/_infoBox.js"></script>
		
		<script src="_js/_base.js"></script>

	</body>
</html>


<script id="logo-template" type="text/x-handlebars-template">
  <img class="image" src="{{where.logo}}"></img>
  <div class="role">{{where.role}}</div>
  <div class="period">{{period.start}} - {{period.end}}</div>  
</script>

<script id="info-template" type="text/x-handlebars-template">
	{{# each info}}
  	<p class="infoBoxContent" align="justify">{{this.description}}</p>
  	{{/each}}  
</script>

<script id="techbar-template" type="text/x-handlebars-template">
	{{# each tech}}<span class="techBarItem">{{this}}</span>{{/each}}  
</script>


<script id="infoBox-template" type="text/x-handlebars-template">
	<div class='infoBox'>
	<div class='logoHolder'>
		{{> logo}}
	</div><div class='infoHolder'>
		{{> info}}
	</div>
	</div>  
</script>





