html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	font: 14px/24px "Roboto",Helvetica,Helvetica Neue,Arial;
}

div#container {
	min-height: 100%;
	position: relative;
	
}

div#header {
	height: 290px;
	position: fixed;
	width: 100%;
	background: white;
	/*border-bottom: 1px solid grey;*/

}

div#userInfo {
	height: 100px;
	width: 1080px;
	margin: auto;
	font-size: 0;
	padding-bottom: 20px;
	color: #196199;
	/*background: #0B2B61;*/
}

div#userName {
	float: left;
	width: 540px;
	display: inline-block;
	font-size: 25px;
	padding-top: 70px;
}

div#userDetails {
	width: 540px;
	display: inline-block;
	font-size: 19px;
	text-align: right; 
}

div#userEmail {
	padding-top:50px;
}

div#menuBar {
	height: 60px;
	background: #196199;
	margin: 5px 0;
}

div#content {
	padding-bottom: 60px;
	width: 1080px;
	margin: auto;
	padding-top: 300px;
}

div#footer {
	height: 60px;
	background: #196199;
	opacity: 0.2;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

div#workExperience a {
	color: #196199;
	
}
