div.infoBox{
	border-bottom: 1px solid #CCC;
}

div.logoHolder {
	width: 200px;
	display: inline-block;
	vertical-align: top; 
}

div.infoHolder {
	width: 780px;
	display: inline-block;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 16px;
}

p.infoBoxContent {
	padding: 0px;
	margin: 0px;
	color: #505050;
	font-size: 15px;
}

.image {	
	width: 200px;
	padding-top: 40px;
	padding-bottom: 60px;
	margin: auto;
}

div.role {
	font-size: 15px;
    padding: 10px 0;
    text-align: center;
    color: grey;
}

div.period {
	font-size: 12px;
	color: grey;
    padding: 0 0 30px 0;
    text-align: center;
}

/* tech css */
div#techContainer {
	background: white;
	width: 100%;
	
}

div.techBar {
	height: 45px;
	background: white;
	margin: auto;
	width: 1080px;
	position: relative;
	left: -12px;
}

span.techBarItem {
	margin: 5px 2px;
	padding: 5px 10px;
	height: 25px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: #aaa;
}

/* calendar css */

div#calendarContainer {
	background: white;
	width: 100%;
	
}

div.calendarBar {
	height: 45px;
	background: white;
	margin: auto;
	width: 1080px;
	position: relative;
	left: -40px;
}

.cYearBlock {
	width:108px;
	background: white;
	display: inline-block;
	text-align: center;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	color: #aaa;
	
}

.calInfoBlock {
	position: absolute;
	height: 45px;
	top: 0px;
	left: 100px;
	background: #228B22;
	opacity: 0.3;	
	border-left: 1px solid green;
	cursor: pointer;	
}

.calInfoBlock:hover {
	background: #006400;
}	