#menu {  
    position: relative;  
    background: #196199;  
    
    width: 1080px;
	margin: auto;
}  

#menu li {  
    float: left;  
    list-style: none;
    line-height: 40px;  
    color: #FFFFFF;      
}

#menu li a {  
	color: inherit;    
    position: relative;  
    z-index: 2;  
    float: left;  
    font-size: 15px;  
    font-family: helvetica, arial, sans-serif;  
    text-decoration: none;  
    padding: 10px 48px;
    
}

ul {  
    margin: 0; padding: 0;  
    height: 45px;
}

li {
	margin: 0; padding: 0;  
    height: inherit;	
}

ul#menu {
	height: 60px;
}


#slider {  
    position: absolute;  
    top: 0;  
    z-index : 1;  
    background: white;     
}       